<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Dashboard</h1>

        <div class="mb-4 text-center">

            <a href="/initialize"><button  class="btn btn-danger">Initialize Table Data</button></a>
            <a href="/transactions"><button  class="btn btn-secondary">Fetch Transactions</button></a>
            <a href="/Statistics"><button  class="btn btn-primary">Fetch Statistics</button></a>

                <a href="/price-range"><button class="btn btn-info">Fetch Price Range</button></a>
                    <a href="/categories"><button  class="btn btn-success">Fetch Categories</button></a>
                    <a href="/combined"><button  class="btn btn-warning">Fetch combined</button></a>

        </div>

    </div>

  
</body>
</html>
